*
{
  box-sizing: border-box;
}

html,
body
{
  margin:0;
  padding:0;
  font-size:100%;
}

.page
{
  width:100vw;
  height:100vh;
  background: url(assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
  
}

.wrapper
{
  width:90%;
  margin:0 auto;
  padding-top:4rem;
  text-align:center;
}

h1
{
  text-transform: uppercase;
  font-size:3rem;
}

small
{
  font-size:1.2rem;
}